{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>
        About 
        <small class="text-muted">My Movie Finder</small>
    </h1>

    <p class="lead">
        Here you will be able to find the films that tailor to your movie preferences and interests.
    </p>

    <p> </p>

    <p>To search for movie recommendations, navigate to one of the forms on the navigation pane above.</p>

    <p>The <strong>Movie Form</strong> allows you to search by genre, release year, and language.</p>
  
    <p>The <strong>Director Form</strong> allows you to filter by director name.</p>

    <p>The <strong>Actor Form</strong> allows you to search by actor/actress name.</p>

    <p>Happy searching!</p>

    {% endblock %}