{% extends "bootstrap_5_layout.html" %}
{% set active_page = "about" %}

{% block content %}

    <h1>About My Movie Finder</h1>

    <p>Here you will be able to find the films that tailor to your movie preferences and interests.</p>

    <p>To search for a movie, navigate to one of two forms on the navigation pane above.</p>

    <p>The "Movie Form" allows you to search by genre, release date, and language, while the 
        "Movie Director Form" will allow you to filter by director name.</p>

    <p>Happy searching!</p>

    {% endblock %}