{% extends "bootstrap_5_layout.html" %}
{% set active_page = "home" %}

{% block content %}

    <h1>Welcome!</h1>

    <p>Welcome to My Movie Finder. See below for the latest top movie releases this year:</p>

    <!-- SEE: https://getbootstrap.com/docs/5.2/components/carousel/ -->
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://m.media-amazon.com/images/M/MV5BMDBmYTZjNjUtN2M1MS00MTQ2LTk2ODgtNzc2M2QyZGE5NTVjXkEyXkFqcGdeQXVyNzAwMjU2MTY@._V1_.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/M/MV5BNjU3N2QxNzYtMjk1NC00MTc4LTk1NTQtMmUxNTljM2I0NDA5XkEyXkFqcGdeQXVyODE5NzE3OTE@._V1_.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/M/MV5BMDgxOTdjMzYtZGQxMS00ZTAzLWI4Y2UtMTQzN2VlYjYyZWRiXkEyXkFqcGdeQXVyMTkxNjUyNQ@@._V1_FMjpg_UX1000_.jpg" class="d-block w-100" alt="...">
            </div>

            <!-- Add more carousel items as needed -->
            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/M/MV5BOTJhNzlmNzctNTU5Yy00N2YwLThhMjQtZDM0YjEzN2Y0ZjNhXkEyXkFqcGdeQXVyMTEwMTQ4MzU5._V1_.jpg" class="d-block w-100" alt="...">
            </div>

            <div class="carousel-item">
                <img src="https://m.media-amazon.com/images/M/MV5BMzI0NmVkMjEtYmY4MS00ZDMxLTlkZmEtMzU4MDQxYTMzMjU2XkEyXkFqcGdeQXVyMzQ0MzA0NTM@._V1_.jpg" class="d-block w-100" alt="...">
            </div>

        </div>
    </div>

{% endblock %}
