
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "movies_genre" %}

{% block content %}

    <h2>Movies by Genre and Year</h2>

    <p>Request movie recommendations by genre and year</p>

    <form action="/stocks/dashboard" method="POST">

        <label>Movie Genre:</label>
        <select name="genre_id">
            <option value="28">Action</option>
            <option value="12">Adventure</option>
            <option value="16">Animation</option>
            <option value="35">Comedy</option>
            <option value="80">Crime</option>
            <option value="99">Documentary</option>
            <option value="18">Drama</option>
            <option value="10751">Family</option>
            <option value="14">Fantasy</option>
            <option value="36">History</option>
            <option value="27">Horror</option>
            <option value="10402">Music</option>
            <option value="9648">Mystery</option>
            <option value="10749">Romance</option>
            <option value="878">Science Fiction</option>
            <option value="10770">TV Movie</option>
            <option value="53">Thriller</option>
            <option value="10752">War</option>
            <option value="37">Western</option>
        </select>
        <br>

        <label>Year Range:</label>
        <input type="text" name="year" placeholder="2000" value="2000">
        <input type="text" name="year" placeholder="2010" value="2010">
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}