
{% extends "bootstrap_5_layout.html" %}
{% set active_page = "movies_genre" %}

{% block content %}

    <h2>Movies by Genre and Year</h2>

    <p>Request movie recommendations by genre and year</p>

    <form action="/stocks/dashboard" method="POST">

        <label>Movie Genre:</label>
        <select name="movie_genre">
            <option value="action">Action</option>
            <option value="animation">Animation</option>
            <option value="comedy">Comedy</option>
            <option value="crime">Crime</option>
            <option value="documentary">Documentary</option>
            <option value="drama">Drama</option>
            <option value="family">Family</option>
            <option value="fantasy">Fantasy</option>
            <option value="history">History</option>
            <option value="horror">Horror</option>
            <option value="music">Music</option>
            <option value="mystery">Mystery</option>
            <option value="romance">Romance</option>
            <option value="science_fiction">Science Fiction</option>
            <option value="tv_movie">TV Movie</option>
            <option value="thriller">Thriller</option>
            <option value="war">War</option>
            <option value="western">Western</option>
        </select>
        <br>

        <label>Year Range:</label>
        <input type="text" name="year" placeholder="2000" value="2000">
        <input type="text" name="year" placeholder="2010" value="2010">
        <br>

        <button class="btn btn-success">Submit</button>
    </form>

{% endblock %}