{% extends "bootstrap_5_layout.html" %}
{% set active_page = "movie_form" %}

{% block content %}

    <h2>Movie Form</h2>

    <p class="lead">Search for movies by genre, release year, and language</p>

    {% if error_message %}
        <div class="alert alert-danger" role="alert">
            {{ error_message }}
        </div>
    {% endif %}

    <form action="/movie/genre/dashboard" method="POST">

        <label>Select Genre:</label>
        <select name="genre_id">
            <option value=28>Action</option>
            <option value=12>Adventure</option>
            <option value=16>Animation</option>
            <option value=35 selected>Comedy</option>
            <option value=80>Crime</option>
            <option value=99>Documentary</option>
            <option value=18>Drama</option>
            <option value=10751>Family</option>
            <option value=14>Fantasy</option>
            <option value=36>History</option>
            <option value=27>Horror</option>
            <option value=10402>Music</option>
            <option value=9648>Mystery</option>
            <option value=10749>Romance</option>
            <option value=878>Science Fiction</option>
            <option value=10770>TV Movie</option>
            <option value=53>Thriller</option>
            <option value=10752>War</option>
            <option value=37>Western</option>
        </select>
        <br>

        <p> </p>
        
        <label>Start Year:</label>
        <input type="text" name="start_year" class="form-control" placeholder="Start Year" value ="1990">
        <br>

        <label>End Year:</label>
        <input type="text" name="end_year" class="form-control" placeholder="End Year" value="2024">
        <br>

        <label>Language:</label>
        <input type="text" name="lang" class="form-control" placeholder="Language" value="en">
        <br>

        <button type="submit" class="btn btn-success">Search</button>
    </form>

{% endblock %}
